@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@theme {
    --font-sans: 'Manrope', ui-sans-serif, system-ui, sans-serif;
}

:root {
    --ease-out-quint: cubic-bezier(0.22, 1, 0.36, 1);
}

@view-transition {
  navigation: auto;
}

@keyframes slide-from-bottom {
  from { transform: translateY(50px); scale: 0.95 }
}